* { 
  margin: 0; 
  padding: 0; 
}
html {
  margin: 0 auto;
  width: 600px;
}
body {
    background-color: red;
  background: #020305 url('http://science-all.com/images/waterfall/waterfall-06.jpg') center no-repeat;
  color: #fff; 
  font-family: 'Droid Serif', Times, serif; 
  font-size: 14px;
  max-width: 600px;
}
#page-wrap { 
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 600px;
}
h1 { 
  letter-spacing: 3px;
  margin: 25px 0; 
  text-transform: uppercase;
}
 
#quiz {
  margin: 0 18px;
  padding: 0 0 0 1px;
  position: relative;
}
 
#quiz ul {
  list-style-type: none;
  margin-top: 0;
}
#quiz h3 {
  color: white;
  font-size: 22px; /* 18*/
  font-weight: 400;
  line-height: 32px; 
  text-align: center;
}
#quiz ul li {
  height: 335px;
  margin: 25px 0 95px 0;
  max-height: 335px;
  min-height: 335px;
}
#quiz ul li div {
  color: #ebe9e6;
  margin: 10px 0;
  padding: 1px 0;
}
#quiz ul li div.mtm {
  margin-top: 20px;
}
#quiz input {
  opacity: 0;
  vertical-align: middle;
  width: 20px;
}
#quiz label, #quiz input#submit-quiz {
  background-color: #1f4c5b; 
  cursor: pointer;
  display: inline-block;
  z-index: 99;
}
#quiz label {
  height: 15px; 
  margin: 0 30px 0 0;
  max-width: 476px;
  min-width: 476px;
  padding: 2px 0 4px 16px;
  width: 100px;
}
 
#quiz label:hover, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz:hover, #replay:hover, .take-quiz-btn:hover {
  background: #098636; /* #c91e0a; */
  color: #fbfbfb;
}